@using ChatRoomWithBot.Application.Interfaces
@ViewData["ChatName"]
@inject IUsersAppService _usersAppService;
@{
    var user = await _usersAppService.GetCurrentUserAsync();
}


<div id="chat" class="container">
    <h3 class=" text-center ">Chat Room - @ViewData["ChatName"]</h3>
    
    <input hidden id="roomId" value="@ViewData["roomId"]" />
    
    <div class="container">
        <div class="row">&nbsp;</div>
        
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" disabled  id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>


     
</div>